/* HOME... */


/* HEADER */

header{
  display: flex;
  justify-content: center;
}

.header{
  font-family: Roboto Mono;
  font-size: 28px;
  font-weight: 400;
  line-height: 36.93px;
  text-align: left;
  

  margin-top: 55px;
  width: 489px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#sub{
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: #333333;
}


/* PRINCIPAL */

main{
  width: 1287px;
  margin-top: 133px;
  margin-left: 64px;
  margin-right: 89px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#imghero{ 
  width: 651px;
  height: 469px;
}

#titulo{
  width: 577px;
  height: 148px;


  font-family: Roboto Mono;
  font-size: 60px;
  font-weight: 700;
  line-height: 74px;
  text-align: left;
  color: #333333;
}

#pSubtitulo{
  width: 497px;
  height: 96px;

  font-family: Roboto Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.65px;
  text-align: left;
  color: #333333;
}

button{
  width: 314px;
  height: 66px;
  padding: 24px 56px 24px 70px;
  gap: 10px;
  border-radius: 40px;
  background-color: #333333;


  color: white;
  font-family: Roboto Mono;
  font-size: 22px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;

}

/* CARDS */

#fundoVermelho{
  background-color: #F1C2B0;
}

#fundoAmarelo{
  background-color: #F9EB98;
}

#fundoAzul{
  background-color: #C0D9DD;
}

#fundoRoxo{
  background-color: #6975E8;
}

footer{
  margin-top: 104px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.infoCard{
  margin-left: 34px;
}

.card1{
  width: 309px;
  height: 326px;
  
  display: flex;
  flex-direction: row;
  background-color: #C0D9DD;
  border-radius: 16px;
  padding: 16px, 34px, 16px, 34px;
}

#h1Card{
  margin-top: 16px;
  margin-bottom: -20px;
  font-family: Roboto Mono;
  font-size: 64px;
  font-weight: 400;
  line-height: 84.41px;
  text-align: left;
  color: white;  
}

#h2Card{
  margin-bottom: -8px;
  font-family: Roboto Mono;
  font-size: 32px;
  font-weight: 500;
  line-height: 42.2px;
  text-align: left;
  color: #333333;  
}

#pCard{
  font-family: Roboto Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.74px;
  text-align: left;
  color: #333333;  
}